{% extends 'base.html' %}
{% load static %}
{% block content %}

    <div class="product"> 
            <div class="container">
                <div class="product-top">
                    <div class="product-one">
                        {% for watch  in wristwatches %}
                        <div class="col-md-3 product-left">
                                <div class="product-main simpleCart_shelfItem">
                                    <!-- <a href="{% url 'yomex:detail_watch' watch.slug %}" class="mask"><img class="img-responsive zoom-img" src="{{ watch.image.url }}" alt="" /></a> -->
                                    <a href="{{ watch.get_absolute_url }}" class="mask"><img class="img-responsive zoom-img" src="{{ watch.image.url }}" alt="" /></a>
                                    <div class="product-bottom">
                                        <h3>Smart Watches:{{ watch.name }}</h3>
                                        <p>Explore Now</p>
                                        <h4><span class=" item_price"><span>&#8358;</span>{{ watch.price }}</span></h4>
                                    </div>
                                    <div class="srch">
                                        <span>-{{ watch.discount }}%</span>
                                    </div>
                                </div>
                        </div>
                        
                        {% endfor %}
                        <div class="clearfix"></div>
                    </div>		
                </div>
            </div>
    </div>
{% endblock %}